.not-found-container {
    text-align: center;
    padding: 100px 20px;
}

.not-found-container h1 {
    font-size: 3rem;
    color: #011C14;
}

.not-found-container p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #586F69;
}

.go-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #586F69;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.go-home:hover {
    background: #77998E;
}
